@import "../Shared/_Colors.scss";
.Normal_Size{
    font-size:16px;
}
.bg_primary {
    background-color:gray;
    color: white;
}
.border_0{
    border-width:0;
}
.text_primary {
    color: black;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}
.text_left {
    text-align: left;
}
.font-bold{
    font-weight:400;
}
.text_bold {
    @extend .font-bold;
}
.width_content {
    width: calc('content');
}

.my-2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mx-2 {
    margin-right: 5px;
    margin-left: 5px;
}

.mx-3 {
    margin-right: 10px;
    margin-left: 10px;
}

.mx-4 {
    margin-right: 15px;
    margin-left: 15px;
}
.mt-2{
    margin-top:5px;
}
.mt-3 {
    margin-top: 10px;
}
.mt-4 {
    margin-top: 15px;
}
.px-2 {
    padding-right: 5px;
    padding-left: 5px;
}

.px-3 {
    padding-right: 10px;
    padding-left: 10px;
}

.px-4 {
    padding-right: 15px;
    padding-left: 15px;
}
.w-100 {
    width: 100%;
}
.HeaderText { 
            font-family: 'Poppins';
            font-size: 16px;
            font-weight:600;
            color: #3A1251;
        }

.SubjectText { 
            font-family: 'Poppins';
            font-size: 12px;
            font-weight:600;
            color: #3A1251;
            text-align:center;
            width:80px;
            background:#FFFFFF;
            margin-left : 0;
        }

.PhotoCenter{
    display: block;
  margin-left: auto;
  margin-right: auto;
  background : #FFFFFF;
}

.dark {
    .HeaderText { 
            font-family: 'Poppins';
            font-size: 16px;
            font-weight:600;
            color: white;
            width: 80px;
            background: #333333;
        }

.SubjectText { 
            font-family: 'Poppins';
            font-size: 12px;
            font-weight:600;
            color: white;
            text-align:center;
            background: #333333;
        }
}