//Charcole
$clrBlack: #484646;

$clrGrey100: #767474; //rgba($clrBlack, .75)
$clrGrey200: #a3a2a2; //rgba($clrBlack, .50)
$clrGrey300: #d1d1d1; //rgba($clrBlack, .25)
$clrGrey400: #f6f6f6; //rgba($clrBlack,. 05)

//Aqua green
$clrGreen100: #42AAA9;
$clrGreen200: #71bfbf; //rgba($clrGreen100, .75)
$clrGreen300: #a0d4d4; //rgba($clrGreen100, .50)
$clrGreen400: #d0eae9; //rgba($clrGreen100, .25)


//Hot pink
$clrPink100: #EE2D7D;
$clrPink200: #f2629e; //rgba($clrPink100, .75)
$clrPink300: #f696be; //rgba($clrPink100, .50)
$clrPink400: #fbcade; //rgba($clrPink100, .25)


//Wine
$clrRed100: #891848;
$clrRed200: #a75276; //rgba($clrRed100, .75)
$clrRed300: #c48ba3; //rgba($clrRed100, .50)
$clrRed400: #e1c5d1; //rgba($clrRed100, .25)


//Sunset
$clrOrange100: #EF6923;
$clrOrange200: #f38f5a; //rgba($clrOrange100, .75)
$clrOrange300: #f7b491; //rgba($clrOrange100, .50)
$clrOrange400: #fbd9c8; //rgba($clrOrange100, .25)
