@import "../Shared/_Colors.scss";

Button {
	height: 40px;
	border: none;
	border-radius: 10px;
	color: $clrBlack;
	margin-bottom:10px;
}

Button:disabled {
	color: $clrGrey200;
	border: 1px solid $clrGrey300;
	border-radius: 10px;
}

Link { color: $clrBlack; text-align: center; margin-top: 15px; }


