@import "../Shared/_Colors.scss";
 
PopUp {
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

#PopupOverlay  {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.35;
    background-color: red;
}
 