@import "../Settings.scss";

SubjectsPreview {
    #Body {
        

        .HeaderText { 
            font-family: 'Poppins';
            font-size: 16px;
            font-weight:600;
            color: #3A1251;
        }

    }
}

